<% provide(:title, 'All users') %>
<h1>All users</h1>

<!-- inside a users view, it automatically looks for an @users object, and then displays
pagination links to access other pages -->
<%= will_paginate %>

<ul class="users">
   <!-- @users is a list of User objects; moreover, when called with a collection of users, Rails automatically
   iterates through them and renders each one with the _user.html.erb partial -->
  <%= render @users %>
</ul>

<%= will_paginate %>
