<% if @feed_items.any? %>
<!-- Rails knows to call the micropost partial because each element of @feed_items has class Micropost -->
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% end %>
